@import '../styles/variable';

.container {
  .topContent {
    display: flex;

    div {
      flex-basis: 50%;
    }

    /*------ list tags styles ------*/

    li {
      display: inline-block;
      list-style: none;
      a {
        color: $fontColor;
        padding-right: 0.5rem;
        cursor: pointer;
      }
    }

    li:first-child:before {
      content: 'Tags: ';
      color: $fontColor;
    }

    li:after {
      content: ', ';
      color: $fontColor;
    }

    li:last-child:after {
      content: ' ';
    }
  } //end of topContent

  .content {
    padding: 20px;
    //      background-color: $secondaryColor ;
    border-top: dotted 0.85px $primaryColor;

    h1 {
      color: $color-pallete-8;
      margin-bottom: 30px;
      line-height: 50px;
    }

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 30px;
      color: $color-pallete-8;
    }

    h3 {
      margin-top: 30px;
      margin-bottom: 30px;
      line-height: 25px;
      color: $color-pallete-8;
    }

    p {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 30px;
      text-align: justify;
    }
  } //end of content
} //end of bottom container
