@import '../styles/variable';

$footer-height: 100%;

.container {
  grid-area: footer;
  background-color: $primaryColor;
  width: $container-width;
  height: $footer-height;
  position: relative;
  bottom: 0;
  

    .footer {
      margin: 0 auto;
      max-width: $container-width;
      height: $footer-height;
      line-height: $footer-height;
      color: $color-pallete-4;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      padding: 0px 20px 0px 20px;
    }

}